<!DOCTYPE html>
<html lang="en"
  xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="../static/styles/styles.css" th:href="@{/styles/styles.css}">
</head>
<body>
<div class="container">
    <h1>Secured Website for G`s</h1>
  <img src="../static/img/andrew-tate.jpg" th:src="@{/img/andrew-tate.jpg}" alt="TopG TopG" class="topg">
  <a href="#" th:href="@{/secured}">Safe website</a>
  <a href="#" th:href="@{/admin}">Admin panel</a>
</div>
</body>
</html>