<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
    <link rel="stylesheet" th:href="@{/styles/styles.css}" href="../styles/styles.css">

</head>
<body>
<div class="container">
    <h1 class="login-header">Zaloguj się</h1>
    <form action="/login" method="post" class="login-form">
        <input type="text" name="username" placeholder="Username" class="form-item">
        <input type="password" name="password" placeholder="Password" class="form-item">
        <button type="submit" class="form-item">Log in</button>
    </form>
    <p>
        Nie masz jeszcze konta? <a href="#" th:href="@{/register}">Zarejestruj się.</a>
    </p>
</div>
</body>
</html>